h1 {
  text-align: center;
}
.DivStart{
  font-size: 40px;
  line-height: 56px;
}
.DivPanel{
  width: 400px;
  height: 100px;
  padding: 60px;
  line-height: 24px;
  box-sizing: content-box;
}
.DivGlobal{
  margin-top: 15px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  font-family: 'Arial';

}
.DivGridContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;


}
.DivGridItem{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.DivGridItem2{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  border-color: #82ca9d;
  width: 200px;
  height: 100px;
}

.SpanGridItemHeader{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.SpanDisplayedIteam{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.InputGridItemRangeSlider{
  margin-bottom: 10px;

}
.LabelGridItemLabel{
  font-size: 14px;
}
.GraphContainer {
  width: 100%;
  max-height: 600px;
  max-width: 1000px;
  margin: 10px;

}
.PieContainer {
  display: flex;
  padding-left: 50px;

}
.PaymentsCalculatorTable {
  width: 100%;

}
.PaymentsCalculatorTable td {
  width: 25%;
  text-align: center;
}
.PaymentsCalculatorTable thead th {
  position: initial;
  font-size: small;
  top: 0;
  background: white;
  border: black;
}

.PaymentsCalculatorTable td, .PaymentsCalculatorTable th {
  padding: 10px 5px;
}
.PaymentsCalculatorTable tr:nth-of-type(even) {
  background-color: #E4E9F1;
}
@media (min-width: 575px) {
  .To-date-yearly-payment {
    display: table-cell;
  }
  .PaymentsCalculatorTable td {
    width: 12.5%;
  }
}
.UlStyle{
  list-style:'none';

}
.LiStyle{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 10px;
}
.ResultStyle{
  color: rgb(22, 33, 54);
  font-size: 22px;
  font-weight: lighter;
}