h1 {
  text-align: center;

}
.Div_Global{
  margin-top: 15px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  font-family: 'Arial';

}
.Div_GridContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 2rem;
  padding-top: 2rem;

}
.Div_GridItem{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Div_GridItem2{
  padding: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 3px solid;
  margin: auto;
  border-radius: 20px;
  border-color: #82ca9d;
  width: 200px;
  height: 100px;
}

.Span_GridItemHeader{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.Input_GridItemRangeSlider{
  margin-bottom: 20px
}
.Label_GridItemLabel{
  font-size: 14px;
}
.graphContainer {
  width: 100%;
  max-width: 600px;
  margin: 10px;

}
.paymentsCalculatorTable {
  width: 100%;

}
.paymentsCalculatorTable td {
  width: 25%;
  text-align: center;
}
.paymentsCalculatorTable thead th {
  position: sticky;
  top: 0;
  background: white;
}

.paymentsCalculatorTable td, .paymentsCalculatorTable th {
  padding: 20px 5px;
}
.paymentsCalculatorTable tr:nth-of-type(even) {
  background-color: rgba(0,0,0,.05);
}
@media (min-width: 575px) {
  .to-date-yearly-payment {
    display: table-cell;
  }
  .paymentsCalculatorTable td {
    width: 16.6666666667%;
  }
}
