h1 {
  text-align: center;
}
.Div_Start{
  font-size: 40px;
  line-height: 56px;
}
.Div_Panel{
  width: 400px;
  height: 100px;
  padding: 60px;
  line-height: 24px;
  box-sizing: content-box;
}
.Div_Global{
  margin-top: 15px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: scroll;
  font-family: 'Arial';

}
.Div_GridContainer{
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 1rem;

}
.Div_GridItem{
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Div_GridItem2{
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  border-color: #82ca9d;
  width: 200px;
  height: 100px;
}

.Span_GridItemHeader{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.Span_DisplayedIteam{
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}
.Input_GridItemRangeSlider{
  margin-bottom: 10px;

}
.Label_GridItemLabel{
  font-size: 14px;
}
.graphContainer {
  width: 100%;
  max-height: 600px;
  max-width: 1000px;
  margin: 10px;

}
.pieContainer {
  display: flex;
  padding-left: 50px;

}
.paymentsCalculatorTable {
  width: 100%;

}
.paymentsCalculatorTable td {
  width: 25%;
  text-align: center;
}
.paymentsCalculatorTable thead th {
  position: initial;
  font-size: small;
  top: 0;
  background: white;
  border: black;
}

.paymentsCalculatorTable td, .paymentsCalculatorTable th {
  padding: 10px 5px;
}
.paymentsCalculatorTable tr:nth-of-type(even) {
  background-color: #E4E9F1;
}
@media (min-width: 575px) {
  .to-date-yearly-payment {
    display: table-cell;
  }
  .paymentsCalculatorTable td {
    width: 12.5%;
  }
}
.ul_Style{
  list-style:'none';

}
.li_Style{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 10px;
}
.result_Style{
  color: rgb(22, 33, 54);
  font-size: 22px;
  font-weight: lighter;
}